:root {
    --main-color: rgb(232, 137, 137);
    --secondary-color: rgb(252, 207, 207);
    --third-color: rgb(155, 83, 83);
    --backround-color: rgb(128, 128, 128);
}   

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    margin: 0;           
    text-align: center;
}

.startbutton {
    background-color: var(--backround-color);
}

section {
    size: 50vh;
}

.startbutton {
    size: 3rem;
    border-radius: 30px;
    border: 0px;
}

.titletext {
    font-size: 4rem;
    animation: varinVaihto 5s infinite alternate ease-in-out;
}

@keyframes varinVaihto {
    0% {
        color: var(--main-color)
    }
    50% {
        color: var(--secondary-color)
    }
    100% {
        color: var(--third-color)
    }
}